---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <section>
        <h2>Recent Highlights</h2>
        <h3>2024-2025</h3>
        <ul>
            <li>2 USAMO Qualifiers</li>
            <li>Division Champions Math Field Day</li>
            <li>BMT Online 2nd place Calculus (Justin Seo)</li>
            <li>1st place CEMC Fermat</li>
        </ul>

        <h3>2023-2024</h3>
        <ul>
            <li>2 USAMO Qualifiers</li>
            <li>2 USAJMO Qualifiers</li>
            <li>Division Runner up Math Field Day</li>
            <li>3rd place CEMC Fermat</li>
            <li>Michigan Math Meet 3rd place Individuals (Nick Zhang)</li>
            <li>2nd place Purple Comet in Michigan</li>
        </ul>

        <h3>2022-2023</h3>
        <ul>
            <li>Division Champions Math Field Day</li>
            <li>4th place CEMC Fermat</li>
        </ul>

    </section>
</Layout>


