---

import Layout from "../layouts/Layout.astro";---

<Layout>
    <section>
        <p style="text-align: center; max-width: 600px; margin: 20px auto; font-size: 1.1em;">
            Inspired by JaneStreet's Estimathon, CK math club creates their own problems for fun! Below you can find past problems and solutions.
        </p>
    </section>
    <section>
        <h2>Past Problems</h2>
        <ul>
            <li><a href="CK Estimathon 2024.pdf" target="_blank">CK Estimathon 2024</a></li>
            <li><a href="CK Estimathon 2025.pdf" target="_blank">CK Estimathon 2025</a></li>
        </ul>
    </section>

    <section>
        <h2>Solutions</h2>
        <ul>
            <li><a href="CK Estimathon Answers 2024.pdf" target="_blank">Answers 2024</a></li>
            <li><a href="CK Estimathon Answers 2025.pdf" target="_blank">Answers 2025</a></li>
        </ul>
    </section>


</Layout>

