---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

	<section id="about">
		<h2>About Us</h2>
		<p>The Math Club is a community of students who love solving problems, preparing for competitions, and having fun with Math! We come together and seek an enriching experience in math as a community. </p>
	</section>

	<section id="events">
		<h2>Upcoming Events</h2>
		<ul>
			<li>🍦 Final Icecream Party – May 22, 2025</li>
			<li>📒 <a href="math-journal.html">Math Journal Publication</a></li>
		</ul>
	</section>

	<section id="resources">
		<h2>Resources</h2>
		<p>Explore amazing math problems at <a href="https://artofproblemsolving.com" target="_blank">AoPS</a>.</p>
	</section>

	<section id="news">
		<h2>Math Club News</h2>
		<p>See what the club has accomplished on our <a href="accomplishments.html">Accomplishments</a> page!</p>
	</section>

	<section id="contact">
		<h2>Join Us</h2>
		<p>Email us at: <a href="mailto:chinde@cranbrook.edu">chinde@cranbrook.edu</a></p>
	</section>



</Layout>
